config.yaml
config.private
*.private
.pydeps
.pyenv
tests/
tree_*.txt
downloads/
__pycache__/ 
browsers/
downloads_attachments/
# Python related paths to ignore
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.venv/
venv/
env/
.env
*.log
.coverage
htmlcov/
*.log*

tree_*
