[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinstaller = "*"
pywin32-ctypes = {version = "*", markers = "sys_platform == 'win32'"}
pefile = {version = "*", markers = "sys_platform == 'win32'"}
macholib = {version = "*", markers = "sys_platform == 'darwin'"}
pillow = "*"
attrs = "*"
certifi = "*"
charset-normalizer = "*"
exceptiongroup = "*"
h11 = "*"
idna = "*"
outcome = "*"
packaging = "*"
pyotp = "*"
PySocks = "*"
python-dotenv = "*"
PyYAML = "*"
requests = "*"
selenium = "*"
sniffio = "*"
sortedcontainers = "*"
tqdm = "*"
trio = "*"
trio-websocket = "*"
typing-extensions = "*"
urllib3 = "*"
webdriver-manager = "*"
websocket-client = "*"
wsproto = "*"

[dev-packages]

[requires]
python_version = "3.10"
